@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap");
body, a, span {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  text-decoration-line: none;
  color: black;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
}

._container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 12px;
}
@media (max-width: 1452px) {
  ._container {
    max-width: none;
  }
}

.margin {
  margin-top: 140px;
}
@media (max-width: 999.99px) {
  .margin {
    margin-top: 110px;
  }
}
@media (max-width: 999.99px) and (max-width: 767.99px) {
  .margin {
    margin-top: 90px;
  }
}

.content {
  display: block;
  margin: 20px auto;
  max-width: 1350px;
}
@media (max-width: 1400px) {
  .content {
    margin: 20px;
  }
}

.info {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  gap: 30px;
}
.info__form {
  background-color: #F6F6F6;
  border: solid 1px #b6b6b6;
  border-radius: 63px;
  flex: 0 1 auto;
}
.info__container {
  flex: 0 0 500px;
}
@media (max-width: 980px) {
  .info {
    display: block;
  }
  .info__container, .info__form {
    max-width: 500px;
    margin: 0 auto 30px;
  }
}

.form__content {
  margin: 0 50px;
}
.form__content label {
  margin-top: 20px;
  display: inline-block;
  margin-left: 20px;
}
.form__content input, .form__content select {
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  padding: 7px 15px;
  box-sizing: border-box;
  border: solid 1px #b6b6b6;
}
.form__content select {
  color: #5d5d5d;
}
.form__content a {
  display: inline-block;
  padding: 10px 60px;
  background-color: #9C9600;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 13px;
  margin: 30px 0;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
@media (max-width: 535px) {
  .form__content {
    margin: 0 10%;
  }
}

.items {
  border: solid 12px #BDB600;
  border-radius: 63px;
}
.items__title {
  margin: 4% 10%;
  font-size: 23px;
}
.items__content {
  margin: 0 3%;
  display: grid;
  grid-template-rows: auto 115px;
  gap: 25px;
}
.items__content .inf {
  display: block;
}
.items__content .inf h3 {
  margin-top: 0;
  display: block;
}
.items__content .inf p {
  color: #999999;
  margin: 2px;
  font-size: 15px;
  font-weight: 500;
}
.items__content .inf .stretchy-wrapper {
  width: 180px;
  padding-bottom: 180px;
  float: left;
  margin: 0 2% 0 0;
  position: relative;
  display: grid;
  align-items: center;
}
.items__content .inf .stretchy-wrapper img {
  position: absolute;
  display: block;
  width: 100%;
}
.items__content .cost {
  border-top: 1px solid #999999;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 0;
}
.items__content .cost div {
  display: inline-block;
}
.items__content .cost div:nth-child(even) {
  text-align: right;
}
.items__content .cost__scidka {
  color: #999999;
  font-weight: 500;
  font-size: 14px;
}
.items__content .cost__cost {
  font-weight: 500;
  font-size: 20px;
}
@media (max-width: 535px) {
  .items__title {
    font-size: 4.4vw;
  }
  .items__content {
    grid-template-rows: auto 22vw;
  }
  .items__content .inf h3 {
    font-size: 3.5vw;
  }
  .items__content .inf p {
    font-size: 2.8vw;
  }
  .items__content .inf .stretchy-wrapper {
    width: 34vw;
    padding-bottom: 34vw;
  }
  .items__content .cost__scidka {
    font-size: 2.5vw;
  }
  .items__content .cost__cost {
    font-size: 3.8vw;
  }
}