@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap");
.header {
  border-bottom: solid 1px #c0c0c0;
  box-shadow: 0 0 5px 2px rgb(181, 181, 181);
  background-color: #ffffff;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.content {
  display: flex;
}

.column__logo {
  flex: 1 0 200px;
  display: grid;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767.99px) {
  .column__logo {
    display: block;
  }
}
@media (max-width: 1000px) {
  .column__logo {
    flex: 1 0 110px;
  }
}
.column__logo img {
  margin: 6px 15px 0px;
  width: 180px;
}
@media (max-width: 1000px) {
  .column__logo img {
    width: 120px;
    padding: 5px;
  }
}
@media (max-width: 767.99px) {
  .column__logo img {
    width: 90px;
    padding: 0;
  }
}
.column__second-header {
  margin: 0;
  flex: 1 0 auto;
}

@media (max-width: 1000px) {
  .contacts {
    display: none;
  }
}
.contacts a {
  display: inline-block;
  margin: 10px 0 10px 30px;
  padding-left: 30px;
  transition: all 0.5s ease;
}
.contacts a:hover {
  color: #6d6d6d;
}
.contacts .hed-tel {
  background: url("../SVG/a1.svg") no-repeat -2px -6px;
}
.contacts .hed-email {
  background: url("../SVG/message.svg") no-repeat -2px -4px;
}

@media (max-width: 767.99px) {
  .menu {
    display: none;
  }
}
.menu__body {
  display: flex;
  padding: 0;
  margin: 10px -10px;
  vertical-align: middle;
}
@media (max-width: 1000px) {
  .menu__body {
    margin-top: 25px;
  }
}
.menu__link {
  flex: 1 0 auto;
  display: inline-block;
  margin: 0 5px;
}
.menu__link .link {
  display: block;
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  background-color: #ffffff;
  border-radius: 10px;
  text-align: center;
  transition: border-color 0.5s, background-color 0.5s;
}
@media (max-width: 1000px) {
  .menu__link .link {
    font-size: 16px;
  }
}
@media (min-width: 767.99px) {
  .menu__link .link:hover {
    background-color: #e6e5e5;
  }
}

.menu__burger {
  display: none;
  z-index: 3;
}
@media (max-width: 767.99px) {
  .menu__burger {
    position: relative; /* задаем относительное позиционирование */
    width: 30px; /* определяем размеры блока */
    height: 30px;
    display: block;
    float: right;
    margin: 15px;
  }
  .menu__burger:before, .menu__burger:after, .menu__burger span {
    height: 2px;
    width: 100%;
    position: absolute;
    background: #424242;
    margin: 0 auto;
  }
  .menu__burger span {
    top: 14.5px;
    transition: all 0.4s;
  }
  .menu__burger:before, .menu__burger:after {
    content: "";
    transition: all 0.4s;
  }
  .menu__burger:before {
    top: 8px;
  }
  .menu__burger:after {
    bottom: 8px;
  }
  .menu__burger.open-menu span {
    opacity: 0;
  }
  .menu__burger.open-menu:before {
    transform: rotate(40deg);
    top: 14px;
  }
  .menu__burger.open-menu:after {
    transform: rotate(-40deg);
    bottom: 14px;
  }
}
@media (max-width: 767.99px) {
  .menu {
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    transition: all 0.4s ease-in-out;
    background: rgb(255, 255, 255);
    width: 300px;
    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
    padding: 100px 0 1000% 0;
    z-index: 2;
  }
  .menu__body {
    display: block;
  }
  .menu__link {
    display: block;
    margin: 10px 40px;
    font-size: 14px;
  }
  .menu__link:nth-child(3), .menu__link:nth-child(4) {
    display: block;
  }
  .menu__link .link {
    text-align: right;
  }
  .menu.open-menu {
    right: 0;
  }
}

.effect {
  display: none;
  width: 0%;
}
@media (max-width: 767.99px) {
  .effect {
    background-color: #434343;
    display: block;
    position: absolute;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.4s ease;
  }
  .effect.open-menu {
    width: 100%;
    padding-bottom: 1000%;
    opacity: 0.6;
  }
}

.footer {
  padding: 20px 0 30px 0;
  background-color: #262626;
  margin-top: 40px;
}
.footer__content {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 767.99px) {
  .footer__content {
    display: block;
  }
}
.footer__column {
  flex: 1 0 auto;
}
@media (max-width: 1000px) {
  .footer__column {
    margin-bottom: 50px;
  }
  .footer__column:nth-child(3) {
    display: none;
  }
}
.footer__column:last-child {
  display: grid;
  align-content: center;
  justify-content: center;
  margin: 0;
}
.footer__title {
  font-size: 18px;
  color: rgb(229, 229, 229);
}
@media (max-width: 767.99px) {
  .footer__title {
    margin-bottom: 30px;
    text-align: center;
  }
}
@media (max-width: 767.99px) {
  .footer__nav {
    text-align: center;
  }
}
.footer__logo {
  width: 150px;
}
.footer__logo img {
  width: 100%;
}

.info__body {
  padding-left: 15px;
}
@media (max-width: 767.99px) {
  .info__body {
    padding-left: 0;
  }
}
.info__link {
  margin-bottom: 14px;
}
.info__link .link {
  color: rgb(229, 229, 229);
  display: block;
}
@media (max-width: 767.99px) {
  .info__link .link {
    padding: 5px 0;
  }
}
.info__text {
  color: #8A8A8A;
  margin-bottom: 10px;
}

body, a, span {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  text-decoration-line: none;
  color: black;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
}

._container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 12px;
}
@media (max-width: 1452px) {
  ._container {
    max-width: none;
  }
}

.margin {
  margin-top: 140px;
}
@media (max-width: 999.99px) {
  .margin {
    margin-top: 110px;
  }
}
@media (max-width: 999.99px) and (max-width: 767.99px) {
  .margin {
    margin-top: 90px;
  }
}

.aside {
  background-color: #F6F6F6;
  border: solid 1px #b8b8b8;
  width: 280px;
  padding: 0 10px;
}

.menu-aside h1 {
  padding: 0 20px;
  display: block;
  margin: 20px auto 10px;
  font-size: 33px;
  font-weight: 500;
}
.menu-aside__body {
  padding: 0 0 10px 0;
}
.menu-aside__link {
  margin: 0 20px;
}
.menu-aside__link .link-aside {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  width: 100%;
  padding: 15px 10px;
  border-bottom: 1px solid;
  text-align: left;
  box-sizing: border-box;
}
.menu-aside__link .link-aside span:after {
  font-weight: 600;
  font-size: 16px;
}
.menu-aside__link #a0 span:after {
  content: "Электрический теплый пол";
}
.menu-aside__link #a1 span:after {
  content: "Винтажные электроустановочные изделия";
}
.menu-aside__link #a2 span:after {
  content: "Электроустановочные изделия";
}
.menu-aside__link #a3 span:after {
  content: "Освещение";
}
.menu-aside__link #a4 span:after {
  content: "Автоматические выключатели, Дифференциальные автоматы, УЗО.";
}
.menu-aside__link #a5 span:after {
  content: "Релейная защита и автоматика";
}
.menu-aside__link #a6 span:after {
  content: "Кабельная продукция";
}
.menu-aside__link #a7 span:after {
  content: "Распределительные щиты";
}
.menu-aside__link #a8 span:after {
  content: "Зарядные станции для электромобилей";
}
.menu-aside__link #a9 span:after {
  content: "Системы молниезащиты и заземления";
}
.menu-aside__link #a10 span:after {
  content: "Системы защиты от протечки воды";
}
.menu-aside__link #a11 span:after {
  content: "Инструменты";
}
.menu-aside__link:last-child .link-aside {
  border: 0;
}

@media (max-width: 1000px) {
  .aside {
    display: none;
  }
}

.margin {
  display: grid;
  grid-template-columns: 300px auto;
  gap: 20px;
}
@media (max-width: 1000px) {
  .margin {
    display: block;
  }
}

.main {
  background-color: #F6F6F6;
  border: solid 1px #b8b8b8;
  padding: 15px 40px;
}
@media (max-width: 768px) {
  .main {
    padding: 15px 5%;
  }
}

.tovar .buy {
  padding-bottom: 80px;
}
.tovar .buy__stretchy-wrapper {
  width: 280px;
  float: left;
  margin-right: 40px;
  padding-bottom: 280px;
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
}
.tovar .buy__stretchy-wrapper img {
  position: absolute;
  display: block;
  max-width: 100%;
  max-height: 100%;
}
.tovar .buy__title {
  font-size: 22px;
  font-weight: 500;
}
.tovar .buy__cost {
  margin-top: 10px;
  color: #949494;
  font-weight: 500;
  margin-left: 4px;
  margin-bottom: 0;
  font-size: 14px;
  text-decoration: line-through;
  line-height-step: 6px;
  text-decoration-thickness: 1.2px;
  text-decoration-color: #868585;
}
.tovar .buy__scidka {
  margin-top: 4px;
  margin-bottom: 0;
  color: #9C9600;
  font-size: 24px;
  font-weight: 500;
}
.tovar .buy__nalich {
  margin-top: 15px;
  font-size: 17px;
  font-weight: 500;
}
.tovar .buy__nalich .nalich {
  padding-right: 20px;
  border-right: solid 1px black;
}
.tovar .buy__nalich .code {
  padding-left: 20px;
}
.tovar .buy__buy {
  display: inline-block;
  padding: 12px 70px;
  background-color: #9C9600;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 13px;
  margin-top: 30px;
}
@media (max-width: 768px) {
  .tovar .buy {
    padding-bottom: 40px;
  }
  .tovar .buy__stretchy-wrapper {
    width: 370px;
    height: 370px;
    float: none;
    margin: 0 auto;
    padding: 0;
  }
  .tovar .buy__buy {
    display: block;
    margin: 30px auto 0;
    width: 65px;
  }
  .tovar .buy div {
    margin: 0 auto;
    max-width: 500px;
  }
}
@media (max-width: 768px) and (max-width: 440px) {
  .tovar .buy__stretchy-wrapper {
    width: 100%;
    height: 85vw;
  }
  .tovar .buy__buy {
    width: 18%;
    padding: 3.3% 18%;
    font-size: 3.7vw;
  }
  .tovar .buy__cost {
    font-size: 3.2vw;
  }
  .tovar .buy__title {
    font-size: 5vw;
  }
  .tovar .buy__scidka {
    font-size: 5.4vw;
  }
  .tovar .buy__nalich {
    font-size: 3.6vw;
  }
  .tovar .buy__nalich .nalich {
    padding-right: 5%;
  }
  .tovar .buy__nalich .code {
    padding-left: 5%;
  }
}
.tovar .info {
  width: 100%;
}
.tovar .info__button {
  display: flex;
  justify-content: center;
  border-bottom: solid 1.5px #626262;
}
.tovar .info__button div {
  flex: 1 0 50%;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  padding-bottom: 15px;
}
.tovar .info__button div a {
  padding-bottom: 14.5px;
}
@media (max-width: 440px) {
  .tovar .info__button div {
    font-size: 4.5vw;
  }
}
.tovar .info__op.active a {
  border-bottom: solid 3px #9C9600;
}
.tovar .info__ch.active a {
  border-bottom: solid 3px #9C9600;
}

.content-info__opisanie {
  text-indent: 15px;
  line-height: 22px;
  margin: 0 20px;
  text-align: justify;
  line-height: 30px;
  font-size: 110%;
}
.content-info__opisanie h2 {
  font-size: 140%;
}
.content-info__opisanie ul {
  list-style-type: disc;
}
.content-info__opisanie ol, .content-info__opisanie ul {
  text-indent: 0;
  list-style-position: outside;
  margin-left: 20px;
}
@media (max-width: 768px) {
  .content-info__opisanie {
    font-size: 90%;
    line-height: 20px;
  }
}
@media (max-width: 400px) {
  .content-info__opisanie {
    font-size: 3.8vw;
    line-height: 5vw;
    text-indent: 6vw;
  }
  .content-info__opisanie h2 {
    font-size: 5vw;
  }
  .content-info__opisanie ol, .content-info__opisanie ul {
    text-indent: 0;
    list-style-position: outside;
    margin-left: 4%;
    padding-left: 8%;
  }
}
.content-info__characteristic table {
  width: 100%;
  margin: 40px 0;
  border-collapse: collapse;
}
.content-info__characteristic table th, .content-info__characteristic table td {
  border-style: solid;
  border-width: 1px;
  border-color: #d9d440;
  padding: 10px 20px;
}
.content-info__characteristic table th {
  background-color: #aaa402;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  text-align: left;
}
@media (max-width: 480px) {
  .content-info__characteristic table {
    font-size: 3.7vw;
  }
  .content-info__characteristic table th {
    font-size: 4vw;
  }
}
@media (max-width: 768px) {
  .content-info__opisanie {
    text-indent: 15px;
    margin: 0;
  }
  .content-info__opisanie img {
    width: 70%;
  }
  .content-info__opisanie iframe {
    width: 80%;
    height: 45vw;
  }
}