
$bc-cl: #ffffff;


.header {
    border-bottom: solid 1px #c0c0c0;
    box-shadow: 0 0 5px 2px rgb(181, 181, 181);
    background-color: $bc-cl;
    width: 100%;
    position:fixed;
    z-index: 10;
}
.content {
    display: flex;
}

.column {
		&__logo {
            flex: 1 0 200px;
            display: grid;
            align-items: center;
            justify-content: center;
            @media (max-width: 767.99px) {
                display: block;
            }
            img{
                @media (max-width: 767.99px) {
                    width: 90px;
                }
                margin: 6px 15px 0px;
                width: 180px;
            }
		}
        &__second-header{
            margin: 0;
            flex: 1 0 auto;
        }
}
.contacts {
    
    @media (max-width: 767.99px) {
        display: none;
    }
    a{
        display: inline-block;
        margin: 10px 0 10px 30px;
        padding-left: 30px;
        transition: all 0.5s ease;
        &:hover{
            color:#6d6d6d;
        }
    }
    .hed-tel {
        background: url("../SVG/a1.svg") no-repeat -2px -6px;
    }
    .hed-email {
        background: url("../SVG/message.svg") no-repeat -2px -4px;
    }
}


.menu {
		// .menu__body
        @media (max-width:767.99px) {
                    display: none;
                }
		&__body {
            display: flex;
            padding: 0;
            margin: 10px -10px;
            vertical-align: middle;
                
		}

		// .menu__link

		&__link {
            flex: 1 0 auto;
            display: inline-block;
            margin: 0 5px;
            .link {
                display: block;
                padding: 10px;
                font-weight: 500;   
                font-size: 18px;
                background-color: $bc-cl;
                border-radius: 10px;   
                text-align: center;
                transition: border-color 0.5s, background-color 0.5s;
                @media(min-width: 767.99px){
                    &:hover{
                        background-color: #e6e5e5;
                    }
                }
            	}
        }
}


