$MaxMidthContainer: 1440;
$md1: $MaxMidthContainer + 12;
$md2: 999.99;
$md3: 767.99;
$md4: 479.99;
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap');

 body, a, span
 {
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    text-decoration-line: none;
    color: black;
    padding: 0;
    margin: 0;
 }
ul{
    list-style: none;
}
.wrapper{
    width: 100%;
    overflow: hidden;
    flex-direction: column; 
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0;
}
._container
{
    max-width: $MaxMidthContainer+px;
    margin: 0 auto;
    padding: 0 12px;
    @media (max-width: $md1+px) {
        max-width: none;
    }
}

.margin{
    margin-top: 140px;
    @media (max-width: $md2+px) {
        margin-top: 110px;
        @media (max-width: $md3+px) {
            margin-top: 90px;
        }
    }
}
@mixin text_adapt {
    line-height: 30px; 
    font-size: 110%;  
    h2 {
        font-size: 140%;
    } 
    ul {
        list-style-type: disc;
    }
    ol, ul {
        text-indent: 0;
        list-style-position: outside;
        margin-left: 20px;
    }
    @media (max-width: 768px) {
        font-size: 90%; 
        line-height: 20px;
    }
    @media (max-width: 400px) {
        font-size: 3.8vw;
        line-height: 5vw;
        text-indent: 6vw;
        h2{
            font-size: 5vw;
        }
        ol, ul {
            text-indent: 0;
            list-style-position: outside;
            margin-left: 4%;
            padding-left: 8%;
        }
    }
}