@import "_style.scss";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap');

.content {

    // .content__info
    display: block;
    margin: 20px auto;
    max-width: 1365px;
}
._container-form {
    width: calc(100% - 140px);
}
.info {

    // .info__form
    display: grid;
    gap: 30px;
    grid-template-columns: 55% auto;
    &__form {
        background-color: #F6F6F6;
        border: solid 1px #b6b6b6;
        border-radius: 63px;
    }

    // .info__items

    &__container {
        flex: 1 0 auto;
    }
}
.form {
    &__content {
        margin: 0 50px ;
        label {
            margin-top: 20px;
            display: inline-block;
            margin-left: 20px;
        }
        input, select {
            width: 100%;
            border-radius: 10px;
            margin-top: 10px;
            padding: 7px 15px; 
            box-sizing: border-box;
            border: solid 1px #b6b6b6;
        }
        select {
            color: #5d5d5d;
        }
        a {
            display: inline-block;
            padding: 10px 60px;
            background-color: #9C9600;
            border: none;
            font-size: 14px;
            font-weight: 600;
            color:#ffffff;
            border-radius: 13px;
            margin: 30px 0;
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
        }
        
    }
}
.items {
    border: solid 12px #BDB600;
    border-radius: 63px;
    .title {
        margin: 20px 50px;
        font-size: 23px;
    }
    &__content {
        margin: 0 50px;
        display: grid;
        grid-template-rows: auto 115px;
        gap: 25px;
        .inf{
            display: block;
            height: 180px; 
            h3{
                margin-top: 0;
                display: block;
                min-height: 60px;
            }
            p {
                color:#999999;
                margin: 2px;
                font-size: 15px;
                font-weight: 500;
            }
            img {
                margin: 0 10px 0 0;
                float: left;
                width: 180px;
            }
        }
        .cost {
            border-top: 1px solid #999999;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            padding: 20px 0;
            div {
                display: inline-block;
            }
            div:nth-child(even) {
                text-align: right;
            }
            &__scidka {
                color:#999999;
                font-weight: 500;
                font-size: 14px;
            } 
            &__cost {
                font-weight: 500;
                font-size: 20px;
            }
        }
    }
}

