@import "_header.scss";
@import "_burger.scss";
@import "_footer.scss";
@import "_style.scss";
@import "_aside.scss";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap');

.margin {
    display: grid;
    grid-template-columns: 300px auto;
    gap: 30px;
    @media (max-width: 767.99px) {
        display: block;
    }
}
.tovar{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    gap: 10px;
}

.item {
    background-color: #F6F6F6;
    border: solid 1px #b8b8b8;
    width: 200px;
    position: relative;
    // .item__content

    &__content {
        margin: 10px 15px;
        
        img{
            width: 100%;
        }
    }

    // .item__title

    &__title {
        margin-top: 10px;
        font-weight: 600; 
        display: block;
        font-size: 15px;
    }

    // .item__cost

    &__cost {
        color: #949494;
        font-weight: 500;
        margin-left: 4px;
        margin-bottom: 0;
        font-size: 12px;
        text-align: right;
        text-decoration: line-through;
        line-height-step: 6px;
        text-decoration-thickness: 1.2px;
        text-decoration-color: #868585;
    }
    
    &__scidka {
        color: #9C9600;
        margin-top: 3px;
        font-weight: 500;
        margin-bottom: 50px;
        margin-left: 4px;
        font-size: 18px;
        text-align: right;
    }

    // .item__button

    &__button {
        position: absolute;
        display: inline-block;
        padding: 7px 50px;
        background-color: #9C9600;
        border: none;
        font-size: 14px;
        font-weight: 600;
        color:#ffffff;
        border-radius: 13px; 
        bottom: 10px;
        left: calc(50% - 70px);
    }
    
}
