@import "_header.scss";
@import "_burger.scss";
@import "_footer.scss";
@import "_style.scss";
@import "_aside.scss";

$a: 100%;
$b: 20px;
.aside {
    @media (max-width: 767.99px) {
        display: block;
        width: 100%;
        box-sizing: border-box;
        text-align: center;
       
        .menu-aside{
            &__body {
                margin-top: 0; 
            } 
            &__link
            {
                @media (max-width: 440px){ 
                    .link-aside {
                        span:after {
                            font-size: 3.6vw;
                        }
                        padding: 5% 2%;
                    }
                }
            }
            h1 {
                @media (max-width: 440px){
                    font-size: 4.5vw;
                }
                display: block;
                appearance: none;
                border: none;
                background: none;
                width: calc($a + $b);
                transform: translate(-10px, 0.8px);
                margin: 0;
                padding: 15px 10px; 
                text-align: left;
                border-bottom: solid 1px #b8b8b8;
                box-sizing: border-box;
                margin: 0;
                font-size: 20px;
                text-align: center;
            }
        }
    }
}

.margin {
    display: grid;
    grid-template-columns: 300px auto;
    gap: 30px;
    @media (max-width: 767.99px) {
        display: block;
    }
}
.tovar{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    @media(max-width: 440px)
    {
        grid-template-columns: repeat(2, 48%);
    }
    justify-items: center;
    gap: 10px;
}

.item {
    background-color: #F6F6F6;
    border: solid 1px #b8b8b8;
    width: 200px;
    position: relative;
    // .item__content
    &__stretchy-wrapper {
        width: 100%;
        padding-bottom: 100%;
        position: relative;
        display:grid;
        align-items: center;
        justify-items: center;
        img{
            position: absolute;
            display:block;
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__content {
        margin: 5% 6%;
        
    }

    // .item__title

    &__title {
        margin-top: 10px;
        font-weight: 600; 
        display: block;
        font-size: 15px;
    }

    // .item__cost

    &__cost {
        color: #949494;
        font-weight: 500;
        margin-left: 4px;
        margin-bottom: 0;
        font-size: 12px;
        text-align: right;
        text-decoration: line-through;
        text-decoration-thickness: 1.2px;
        text-decoration-color: #868585;
    }
    
    &__scidka {
        color: #9C9600;
        margin-top: 3px;
        font-weight: 500;
        margin-bottom: 50px;
        margin-left: 4px;
        font-size: 18px;
        text-align: right;
    }

    // .item__button

    &__button {
        position: absolute;
        display: inline-block;
        padding: 4% 20%;
        background-color: #9C9600;
        border: none;
        font-size: 14px;
        font-weight: 600;
        color:#ffffff;
        border-radius: 13px; 
        bottom: 10px;
        left: 17.5%;
    }
    @media (max-width: 440px) {
        width: 100%;
        &__title {
            font-size: 3.8vw;
        }
        &__cost {
            font-size: 2.8vw;
        }
        &__scidka {
            font-size: 4vw;
        }
        
        &__button {
            font-size: 3vw;
        }
    }
}

h2{
    @media(max-width: 440px) {
        font-size: 5.5vw;
    }
}
