@import "_header.scss";
@import "_burger.scss";
@import "_footer.scss";
@import "_style.scss";

.contact {
    border: solid 3px #bfbfbf;
    display: block;
    position: absolute;
    background: $bc-cl;
    margin: -450px auto 400px;
    max-width: 1300px;
    left: 0;
    right: 0;
    padding: 10px 0;
    @media (max-width: 1400px) {
        margin-left: 30px;
        margin-right: 30px;
    }
    @media (max-width: 1200px){
        margin: -450px auto 400px;
        max-width: 650px;
    }
    @media (max-width: 768px) {
        display: block;
        margin: 0;
        position: relative;
        margin-top: 20px;
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        ._div {
            border-right: solid 2px #bfbfbf;
            &:last-child {
                border-right: none;
            }
            h4 {
                font-size: 14px;
                margin: 0 0 10px 0;
            }            
            p {
                font-size: 12px;
                margin: 4px 0;
                text-indent: 14px;
            }
            img {
                float: left;
                margin-right: 10px;
                width: 45px;
            }
        }
        @media (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            ._div {
                &:nth-child(even) {
                    border-right: none;
                }
            }
        }
        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            ._div {
                margin-left: 30px;
                padding: 0;
                border-right: none;
            }       
        }
    }
    // .contact__map
    &__block {
        display: block;
        width: 250px;
        margin: 0 auto;
        @media (max-width: 768px) {
            margin: 0;
        }
    }
}

h2 {
    text-indent: 50px;
    @media (max-width: 768px) {
        text-indent: 25px;
        font-size: 18px;
    }
}
