@import "_header.scss";
@import "_burger.scss";
@import "_footer.scss";
@import "_style.scss";

.margin {
    max-width: 1100px;
    text-align: justify;
    text-indent: 25px;
    @media (max-width: 1100px) {
        margin-left: 1%;
        margin-right: 1%;
    }
}

.main {
    line-height: 30px; 
    font-size: 110%;  
    h2 {
        font-size: 140%;
    } 
    ul {
        list-style-type: disc;
    }
    ol, ul {
        text-indent: 0;
        list-style-position: outside;
        margin-left: 40px;
        li {
            padding-left: 20px;
        }
    }
    @media (max-width: 768px) {
        font-size: 90%; 
        line-height: 20px;
    }
    @media (max-width: 400px) {
        font-size: 3.5vw;
        line-height: 5vw;
        text-indent: 6vw;
        h2{
            font-size: 5vw;
        }
        ol, ul {
            text-indent: 0;
            list-style-position: outside;
            margin-left: 4%;
            li {
                padding-left: 2%;
            }
        }
    }
}
