@import "_header.scss";
@import "_burger.scss";
@import "_footer.scss";
@import "_style.scss";

.main-category {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    @media(max-width: 550px)
    {
        grid-template-columns: repeat(2, 48%);
    }
    justify-items: center;
    gap: 10px; 
}
.category {
        display: block; 
        &__link {
            z-index: 11;
        }
		&__bgr {
            width: 100%;
            height: 100%;
            margin: 0;
            background-color: #F6F6F6;
            border: solid 1px #b8b8b8;
            position: relative;
		}

		// .category__img

		&__img {
            box-sizing: border-box;
            padding: 5% 6%;
            width: 240px;
            @media(max-width: 550px)
            {
                width: 100%;
            }
		}

		// .category__caption

		&__caption {
            position: absolute;
            bottom: 6%;
            background-color: rgba(246, 246, 246, 0.75);
            width: 100%;
            p {
                padding: 0 11% 6px;
                font-size: 13px;
                font-weight: 500;
                @media(max-width: 550px)
                {
                    font-size: 2.5vw;
                }
            }
		}
}
h2{
    @media(max-width: 550px) {
        font-size: 4vw;
    }
}