@import "_header.scss";
@import "_burger.scss";
@import "_footer.scss";
@import "_style.scss";
@import "_aside.scss";

.aside {
    @media (max-width: 1000px){
        display: none;
    }
}
.margin {
    display: grid;
    grid-template-columns: 300px auto;
    gap: 20px;
    @media (max-width: 1000px) {
        display: block;
    }
}

.main {
    background-color: #F6F6F6;
    border: solid 1px #b8b8b8;
    padding: 15px 40px ;
    @media (max-width: 768px) {
        padding: 15px 5%;
    }
}
.tovar{
.buy {
        padding-bottom: 80px;
        &__stretchy-wrapper {
            width: 280px;
            float: left;
            margin-right: 40px;
            padding-bottom: 280px;
            position: relative;
            display:grid;
            align-items: center;
            img{
                position: absolute;
                display:block;
                width: 100%;
                
            }
        }
		&__title {
            font-size: 22px;
            font-weight: 500;
		}
		// .tovar__cost
        &__cost {
            margin-top: 10px;
            color: #949494;
            font-weight: 500;
            margin-left: 4px;
            margin-bottom: 0;
            font-size: 14px;
            text-decoration: line-through;
            line-height-step: 6px;
            text-decoration-thickness: 1.2px;
            text-decoration-color: #868585;
        }
		&__scidka  {
            margin-top: 4px;
            margin-bottom: 0;
            color: #9C9600;
            font-size: 24px;
            font-weight: 500;  
		}

		// .tovar__nalich

		&__nalich {
            margin-top: 15px;
            font-size: 17px;
            font-weight: 500;
            .nalich
            {
                padding-right: 20px;
                border-right: solid 1px black;
            }
            .code
            {
                padding-left: 20px;
            }
		}

		// .tovar__buy

		&__buy {
            display: inline-block;
            padding: 12px 70px;
            background-color: #9C9600;
            border: none;
            font-size: 16px;
            font-weight: 600;
            color:#ffffff;
            border-radius: 13px;
            margin-top: 30px;
		}
        @media(max-width: 768px) {
            padding-bottom: 40px;
            &__stretchy-wrapper  {
                display: block;
                width: auto;
                height: auto;
                float: none;
                padding: 0;
                img  {
                    position: relative;
                    width: 370px;
                    margin: 0 auto;
                    display: block;
                }
            }
            &__buy {
                display: block;
                margin:  30px auto 0;
                width: 65px;
            }
            div {
                margin: 0 auto;
                max-width: 500px;
            }
            @media (max-width: 440px) {
                &__stretchy-wrapper {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
                &__buy {
                    width: 18%;
                    padding: 3.3% 18%;
                    font-size: 3.7vw;
                }
                &__cost {
                    font-size: 3.2vw;
                }
                &__title {
                    font-size: 5vw;
                }
                &__scidka {
                    font-size: 5.4vw;
                }
                &__nalich {
                    font-size: 3.6vw;
                    .nalich
                    {
                        padding-right: 5%;
                    }
                    .code
                    {
                        padding-left: 5%;
                    }
                }
            }
        }
    }
    .info {
        width: 100%;
    &__button {
        display: flex;
        justify-content: center;
        border-bottom: solid 1.5px #626262;
        div{
            flex: 1 0 50%;
            font-size: 20px;
            text-align: center;
            font-weight: 500;
            padding-bottom: 15px;
            a{
                padding-bottom: 14.5px;
            }
            @media (max-width: 440px) {
                font-size: 4.5vw;
            }
        }


    }
    &__op {
        &.active {
            a{
                border-bottom:solid 3px#9C9600;
            }
    }
    }
    &__ch {
        &.active {
            a{
                border-bottom:solid 3px#9C9600;
            }
        }
    }
}
}

.content-info {
    &__opisanie {
        text-indent: 15px;
        line-height: 22px;
        margin: 0 20px;
        text-align: justify;
        line-height: 30px; 
        font-size: 110%;  
        h2 {
        font-size: 140%;
        } 
    ul {
        list-style-type: disc;
    }
    ol, ul {
        text-indent: 0;
        list-style-position: outside;
        margin-left: 40px;
        li {
            padding-left: 20px;
        }
    }
    @media (max-width: 768px) {
        font-size: 90%; 
        line-height: 20px;
    }
    @media (max-width: 480px) {
        font-size: 3vw;
        line-height: 4vw;
        text-indent: 4vw;
        h2{
            font-size: 4vw;
        }
        ol, ul {
            text-indent: 0;
            list-style-position: outside;
            margin-left: 4%;
            li {
                padding-left: 3%;
            }
        }
    }
        
    }
    &__characteristic {
        table {
            width: 100%;
            margin: 40px 0;
            border-collapse: collapse;
            
            th, td {
                border-style: solid;
                border-width: 1px;
                border-color: #d9d440;
                padding: 10px 20px;
            }
            th {
                background-color: #aaa402;
                color: #ffffff;
                font-weight: 500;
                font-size: 20px;
                text-align: left;
            }
            @media (max-width: 480px) {
                font-size: 3.7vw;
                th{
                    font-size: 4vw;
                }
            }
        }
    }
    @media(max-width: 768px) {
        &__opisanie {
            text-indent: 15px;
            margin: 0;
            img  {
                width: 70%;
            }
            iframe {
                width: 80%;
                height: 45vw;
            }
        }
    }
}

